<div class="col-12 container pt-4">
    <div class="row text-center">
        <div class="col-3">
            <button type="button" class="btn btn-secondary float-left" (click)="cancel()">Back</button>
        </div>
        <div class="col-6">
            <div class="col-12 text-center">
                <h4>Preview Form</h4>
            </div>
            <form [formGroup]="previewForm">
                <div *ngFor="let data of formFields">
                    <div *ngIf="data">
                        <div class="row">
                            <div *ngIf="data.visible === false; else elseFieldBlock">
                                <input [type]="data.type" [id]="data.id" [name]="data.label"
                                    class="hide-element form-control" formControlName="{{data.label}}">
                            </div>
                            <ng-template #elseFieldBlock>
                                <div *ngIf="data.type === 'button' || data.type === 'submit'; else elseBlock">
                                    <div class="float-right">
                                        <input [type]="data.type" [id]="data.id" [name]="data.label"
                                            [value]="data.label" class="btn btn-secondary form-control"
                                            formControlName="{{data.label}}" (click)="btnClick()">
                                    </div>
                                </div>
                                <ng-template #elseBlock>
                                    <div class="col-6">
                                        <label for="data.label">{{data.label}}</label>
                                    </div>
                                    <div class="col-6">
                                        <input [type]="data.type" [id]="data.id" [name]="data.label"
                                            class="form-control" formControlName="{{data.label}}">
                                    </div>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <button type="submit" [disabled]="!previewForm.valid" class="btn btn-secondary float-right"
                    (click)="onSubmit()">Submit</button>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>