/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    width: 100% !important;
    height: 100% !important;
    background-color: #f2f1f0;
    margin: 0;
    padding: 0;
}

.form-designer {
    width: 70%;
    background: #d8d6d3;
    height: 100vh;
    padding: 1.82vw 2.42vw;
}

.add-update-field {
    width: 30%;
    padding: 1.82vw 2.42vw;
}

.btn-bottom-float {
    position: absolute;
    bottom: 0;
    margin-bottom: 5%;
}

.hide-element {
    visibility: hidden;
}